.logo-whats {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 2rem;
    bottom: 2rem;
  }
  
.whats-logo {
    width: 3.5rem;
    height: 3.5rem;
  }

@media (max-width: 768px) {
    .logo-whats {
        right: 1rem;
        bottom: 1rem;
    }
}