<div class="footer">
    <div class="container">
        <div class="links_img">
            <div class="links-cols-container">
                <section class="footer-col">
                    <h2>Parceiros</h2>
                    <ul>
                        <li><a href="#">Cicles Ninja</a></li>
                        <li><a href="#">Stroll Cycling</a></li>
                        <li><a href="#">Elephant</a></li>
                        <li><a href="#">No Pain No Gain</a></li>
                    </ul>
                </section>
                <section class="footer-col">
                    <h2>Parceiros</h2>
                    <ul>
                        <li><a href="#">Cicles Ninja</a></li>
                        <li><a href="#">Stroll Cycling</a></li>
                        <li><a href="#">Elephant</a></li>
                        <li><a href="#">No Pain No Gain</a></li>
                    </ul>
                </section>
                <section class="footer-col">
                    <h2>Parceiros</h2>
                    <ul>
                        <li><a href="#">Cicles Ninja</a></li>
                        <li><a href="#">Stroll Cycling</a></li>
                        <li><a href="#">Elephant</a></li>
                        <li><a href="#">No Pain No Gain</a></li>
                    </ul>
                </section>
            </div> 
            <img class="logo-footer" src="assets/img/logo.svg" alt="" srcset="">
        </div>  
        
        <!-- Links e img mobile -->

        <div class="links_img_mobile">
            <div class="links-cols-container_mobile">
                <section class="footer-col_mobile">
                    <h2>Parceiros</h2>
                    <ul>
                        <li><a href="#">Cicles Ninja</a></li>
                        <li><a href="#">Stroll Cycling</a></li>
                        <li><a href="#">Elephant</a></li>
                        <li><a href="#">No Pain No Gain</a></li>
                    </ul>
                </section>
                <section class="footer-col_mobile">
                    <h2>Parceiros</h2>
                    <ul>
                        <li><a href="#">Cicles Ninja</a></li>
                        <li><a href="#">Stroll Cycling</a></li>
                        <li><a href="#">Elephant</a></li>
                        <li><a href="#">No Pain No Gain</a></li>
                    </ul>
                </section>
                <section class="footer-col_mobile">
                    <h2>Parceiros</h2>
                    <ul>
                        <li><a href="#">Cicles Ninja</a></li>
                        <li><a href="#">Stroll Cycling</a></li>
                        <li><a href="#">Elephant</a></li>
                        <li><a href="#">No Pain No Gain</a></li>
                    </ul>
                </section>
            </div> 
            <img class="logo-footer_mobile" src="assets/img/logo.svg" alt="" srcset="">
        </div>

        <!-- Fim do links e img mobile -->
    </div>
    
    <div class="division_copyright">
        <div class="division_footer"></div>
        <p class="copyright">&#169; Bajan Informática | Cicles Ninja Bicicletaria - 2025</p>
    </div>
</div>

