<div class="footer">
    <div class="container">
        <div class="links-cols-container">
            <section class="footer-col">
                <h2>Parceiros</h2>
                <ul>
                    <li><a href="#">Cicles Ninja</a></li>
                    <li><a href="#">Stroll Cycling</a></li>
                    <li><a href="#">Elephant</a></li>
                    <li><a href="#">No Pain No Gain</a></li>
                </ul>
            </section>
            <section class="footer-col">
                <h2>Parceiros</h2>
                <ul>
                    <li><a href="#">Cicles Ninja</a></li>
                    <li><a href="#">Stroll Cycling</a></li>
                    <li><a href="#">Elephant</a></li>
                    <li><a href="#">No Pain No Gain</a></li>
                </ul>
            </section>
            <section class="footer-col">
                <h2>Parceiros</h2>
                <ul>
                    <li><a href="#">Cicles Ninja</a></li>
                    <li><a href="#">Stroll Cycling</a></li>
                    <li><a href="#">Elephant</a></li>
                    <li><a href="#">No Pain No Gain</a></li>
                </ul>
            </section>
        </div> 
        <img class="logo-footer" src="../../../assets/img/logo.svg" alt="" srcset="">   
    </div>
</div>

