<header>
  <div class="header-menu">
      <div class="logo">
          <img src="assets/img/logo.svg" alt="logo copa ninja mtb">
      </div>
      <aside class="menu">
          <ul class="menu-li">
              <li class="item-li-menu"><a href="#">HOME</a></li>
              <li class="item-li-menu"><a href="#">SERVIÇOS</a></li>
              <li class="item-li-menu"><a href="#">GALERIA</a></li>
              <li class="item-li-menu"><a href="#">INSCRIÇÕES</a></li>
              <li class="item-li-menu"><a href="#">CONTATO</a></li>
          </ul>
      </aside>
  </div>
  <div class="division"></div>
</header>
