<header>
  <div class="header-menu">
      <div class="logo">
          <img src="assets/img/logo.svg" alt="logo copa ninja mtb">
      </div>
      <aside id="menu" class="menu">
          <img id="menu_bar" class="menu_bar" #menu_bar src="../../../assets/img/menu_bar_white.svg" (click)="openMenu()" alt="menu_bar">
          <ul class="menu-li">
              <li class="item-li-menu"><a href="#">HOME</a></li>
              <li class="item-li-menu"><a href="#">RANKING</a></li>
              <li class="item-li-menu"><a href="#">GALERIA</a></li>
              <li class="item-li-menu"><a href="#">RESULTADOS</a></li>
              <li class="item-li-menu"><a href="https://www.ticketsports.com.br/e/6%C2%BA%20ETAPA%20DA%20COPA%20NINJA%20DE%20MTB%202024%20(final)-70251"  target="_blank" rel="noopener">INSCRIÇÕES</a></li>
              <li class="item-li-menu"><a href="#">CONTATO</a></li>
          </ul> 
      </aside>
      <div class="frame-central_header">
        <p class="slogan1_header">COPA NINJA DE MTB</p>
        <P class="slogan2_header">Os melhores ciclistas estão aqui!</P>
      </div>
  </div>
  
  <!-- <div class="division"></div> -->


  <div class="header-menu-mobile" [class.appear]="menuService.menuOpen$ | async" (click)='onMenuClick($event)' #header_menu_mobile>
    <!-- <div class="logo">
        <img src="assets/img/logo.svg" alt="logo copa ninja mtb">
    </div> -->
    <aside id="menu-mobile" class="menu">
        <img id="menu-bar-inside" (click)="menuService.closeMenu()" #menu_bar src="../../../assets/img/menu_bar_close_white.svg" alt="menu_mobile">
        <ul class="menu-li-mobile">
            <li class="item-li-menu-mobile"><a href="#">HOME</a></li>
            <li class="item-li-menu-mobile"><a href="#">RANKING</a></li>
            <li class="item-li-menu-mobile"><a href="#">GALERIA</a></li>
            <li class="item-li-menu-mobile"><a href="#">RESULTADOS</a></li>
            <li class="item-li-menu-mobile"><a href="https://www.ticketsports.com.br/e/6%C2%BA%20ETAPA%20DA%20COPA%20NINJA%20DE%20MTB%202024%20(final)-70251"  target="_blank" rel="noopener">INSCRIÇÕES</a></li>
            <li class="item-li-menu-mobile"><a href="#">CONTATO</a></li>
        </ul> 
    </aside>
    <!-- <div class="frame-central_header">
      <p class="slogan1_header">COPA NINJA DE MTB</p>
      <P class="slogan2_header">Os melhores ciclistas estão aqui!</P>
    </div> -->
  </div>
</header>


