<div class="container">
  <div class="backgnd-page-four">
    <div class="header">
      <h3 class="text01">
        Donec sed erat ut magna suscipit mattis. Aliquam erat volutpat. Aliquam erat volutpat.
      </h3>
  
      <aside class="saiba-mais"><a href="#">SAIBA MAIS</a></aside>
    </div>
  
    <div class="cards">
      <div class="card_left">
        <p class="text_cards">
          Trabalhamos duro para entregar a melhor prova de mountain bike do litoral do Paraná. Temos lugares fantásticos para a realização das provas, bem como atletas de bom nível
        </p>
        <img class="img_cards" src="../../../assets/img/1a_etapa2023.jpg" alt="Primeira etapa 2023">
        <span class="card-leia-mais"><a href="#">Leia mais...</a></span>
      </div>
    
      <div class="card_right">
        <p class="text_cards">
          Trabalhamos duro para entregar a melhor prova de mountain bike do litoral do Paraná. Temos lugares fantásticos para a realização das provas, bem como atletas de bom nível
        </p>
        <img class="img_cards" src="../../../assets/img/2a_etapa2023.jpg" alt="Primeira etapa 2023">
        <span class="card-leia-mais"><a href="#">Leia mais...</a></span>
      </div>
    </div>
    
    <app-logo-whats class="logo-whats"></app-logo-whats>
  
  </div>
</div>




