<div class="backgnd-page-four">
  <div class="header">
    <h3 class="text01">
      Donec sed erat ut magna suscipit mattis. Aliquam erat volutpat. Aliquam erat volutpat.
    </h3>

    <aside class="saiba-mais"><a href="#">SAIBA MAIS</a></aside>
  </div>

  <div class="card_left">
    <p class="text_left">
      Trabalhamos duro para entregar a melhor prova de mountain bike do litoral do Paraná. Temos lugares fantásticos para a realização das provas, bem como atletas de bom nível
    </p>
    <img class="img_card_left" src="../../../assets/img/1a_etapa2023.jpg" alt="Primeira etapa 2023">
  </div>

  <div class="card_right">
    <p class="text_right">
      Trabalhamos duro para entregar a melhor prova de mountain bike do litoral do Paraná. Temos lugares fantásticos para a realização das provas, bem como atletas de bom nível
    </p>
    <img class="img_card_right" src="../../../assets/img/2a_etapa2023.jpg" alt="Primeira etapa 2023">
  </div>

  <div class="logo-whats">
    <img class="whats-logo" src="../../../assets/img/whats.png" alt="logo whats">
  </div>

</div>



