body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: #b33620;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 17.8vh;

  width: 89.9vw;
  height: 89vh;
  left: 2.67rem;
  margin-bottom: 7vh;
}

.main h1 {
  color: #fff;
  margin-bottom: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.3rem;
  letter-spacing: 0.15rem;
  font-weight: 800;
}

#slider {
  width: 70%;
  max-width: 65%;
  height: 57vw;
  max-height: 57vh;
  position: relative;
}

#slider img {
  opacity: 0;
  position: absolute;
  border-radius: 5px;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: opacity 2000ms;
}

#slider img.selected {
  opacity: 1;
}
