<div class="container">
  <div class="main">
    <h1>Relaxe enquanto curte algumas fotos da nossa galeria!!</h1>  
    <div class="carousel-container">
      <div class="arrow left" (click)="previousImage()">&#10094;</div>
      <div class="carousel" #carousel>
        <div *ngFor="let image of images" class="carousel-image" [ngClass]="{'selected': image.selected}">
          <img [src]="image.src">
        </div>
      </div>
      <div class="arrow right" (click)="nextImage()">&#10095;</div>
    </div>
  
  </div>
</div>



