.main {
  background-color: #b33620;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;
  top: 17.8vh;

  width: 100vw;
  height: 89vh;
  margin-bottom: 1rem;
}

.main h1 {
  width: 60%;
  color: #fff;
  margin-bottom: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.10rem;
  font-weight: 800;
  text-align: center;
}

/* #slider {
  width: 70%;
  max-width: 65%;
  height: 57vw;
  max-height: 57vh;
  position: relative;
}

#slider img {
  opacity: 0;
  position: absolute;
  border-radius: 5px;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: opacity 2000ms;
}

#slider img.selected {
  opacity: 1;
} */



/* .carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 30%;
  height: 70%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-image {
  flex: 1 0 33%;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.carousel-image.selected {
  opacity: 1;
  transform: scale(1.1);
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
} */



/* .carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  flex: 1 0 33%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.5;
}

.carousel-image img {
  width: 90%;
}

.carousel-image.selected {
  opacity: 1.1;
  transform: scale(1.1);
}

.arrow {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #9b9292; /* Cor das setas 
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
} */


/* 
.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-33.33%);
}

.carousel-image {
  flex: 0 0 33.33%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-image img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.carousel-image.selected img {
  transform: scale(1.2);
  opacity: 1;
}

.carousel-image.prev img, .carousel-image.next img {
  opacity: 0.5;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #000; /* Cor das setas 
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
} */


.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-image {
  flex: 0 0 33.33%;
  /* opacity: 0.5; */
  transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out;
}

.carousel-image img {
  width: 90%;
  min-height: 13rem;
  border-radius: .2rem;
  display: block;
  margin: 0 auto;
}

/* .carousel-image img.selected {
  transform: scale(1.2);
  opacity: 1.2;
} */

.carousel-image.selected img {
  /* transform: scaleX(1.5);
  transform: scaleY(1.5); */
  opacity: 1;
}

.carousel-image.center img {
  position: absolute;
  margin: auto;
  opacity: 0.5;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #000; /* Cor das setas */
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

@media (min-width: 1025px) {
  .container {
    width: var(--background-width-1025px);
    height: 93vh;
    background-image: linear-gradient(to bottom, var(--primary-background-grad), var(--secondary-background-grad));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    width: var(--secondary-background-width-1025px);
    top: 0.1vh;
    height: 93vh;
    margin-bottom: 0.1rem;
  }

  .carousel-image img {
    min-height: 15rem;
  }
}