main {
  position: relative;
  top: 18.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 89.9vw;
  /* margin-left: 4.2vw; */
  left: 2.67rem;
  padding: 35px 0 35px 0;
  background-color: #b33620;
}

main > h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #fff;
}

span {
  color: #ff5b3f;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
}

.pictures a {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: #fff;
  margin-top: 2rem;
}

a h2 {
  margin-top: -0.5rem;
  margin-left: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}

.main-background {
  border-radius: 8px;
  min-width: 98%;
  max-width: 98%;
  min-height: 97%;
  max-height: 97%;
  margin: auto;
}

.img-etapas {
  display: flex;
  width: 36.1vw;
  height: 23.5vw;
  margin-left: 5.5vw;
  margin-right: -0.5vw;
  margin-bottom: 2vh;
  border: 3px solid rgb(226, 129, 3);
  border-radius: 10px;
  padding: 0.5rem;
}



