<main>
  <h2><span>SOBRE</span> NÓS</h2>
     <div class="pictures">
         <a href="#">
          <div class="img-etapas"><img src="../../../assets/img/1a_etapa2023.jpg" class="main-background" alt="1ª etapa 2023">
          </div>
          <h2>Saiba Mais</h2>
         </a>
         <a href="#">
          <div class="img-etapas"><img src="../../../assets/img/2a_etapa2023.jpg" class="main-background" alt="2ª etapa 2023">
          </div>
          <h2>Saiba Mais</h2>
         </a>
         <a href="#">
          <div class="img-etapas"><img src="../../../assets/img/foto_atleta.jpg" class="main-background" alt="foto atleta">
          </div>
          <h2>Saiba Mais</h2>
         </a>
         <a href="#">
          <div class="img-etapas"><img src="../../../assets/img/4a_etapa2023.jpg" class="main-background" alt="4ª etapa 2023">
          </div>
          <h2>Saiba Mais</h2>
         </a>
         <a href="#">
          <div class="img-etapas"><img src="../../../assets/img/foto_atleta.jpg" class="main-background" alt="foto atleta">
          </div>
          <h2>Saiba Mais</h2>
         </a>
         <a href="#">
          <div class="img-etapas"><img src="../../../assets/img/foto_atleta.jpg" class="main-background" alt="foto atleta">
          </div>
          <h2>Saiba Mais</h2>
         </a>





     </div>
</main>
