.card-two {
  position: relative;
  top: 18.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100vw;
  height: 37.9vh;
}

.card-two p {
  color: #FFF;
}

.division {
  color: #FFF;
  height: .25rem;
}

@media (min-width: 1025px)  {
   .container {
      background-image: linear-gradient(to top, var(--primary-background-grad), var(--secondary-background-grad));
      width: var(--background-width-1025px);
      height: 45.9vh;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .card-two {
      width: var(--secondary-background-width-1025px);
      height: 45.9vh;
      top: .5vh;
   }
}
