.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--background-width-1025px);
  height: 30.96rem;
}

.card-one {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

.card-one p {
  color: #FFF;
}

.social-media-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.social-media-headline h2 {
  color: #ff5b3f;
}

.icons {
  margin-top: 2rem;
  font-size: 3rem;
  width: 17rem;
  display: flex;
  justify-content: space-between;
}

.icons a { 
  color: #948f8f;
}

@media (max-width: 768px) {
    .container { 
        max-height: 25rem;
        /* aspect-ratio: 10 / 4; */
    }

    .card-one {
        gap: 3rem;

        /* aspect-ratio: 10 / 2; */
      }

      .paragraph {
        width: 80%;
        padding: .5rem;
      }

      .social-media-headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: .5rem;
        width: 65%;

      }

      .icons {
        width: clamp(17rem, 25vw, 33rem);
        justify-content: space-around;

      }

      .icons .bi {
        font-size: 2.5rem;
      }
}

@media (min-width: 1025px) {
   .container {
     background-image: linear-gradient(to bottom, var(--secondary-background-grad), var(--primary-background-grad));
     margin-top: 0;
   }
   .card-one {
      width: var(--secondary-background-width-1025px);
   }
}
