.div-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  top: 19vh;
  width: 100vw;
  max-height: 97vh;
}

.main-img {
  width: 100vw;
  align-self: center;
}

.frame-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 70%;
  height: 30vh;
  top: 13.25rem;
  left: 15%;
  background-image: linear-gradient(to right, #FF5B3F7D, #FF5B3F7D 49%);
  border-radius: 10px;
}

.slogan1 {
  font-size: 3.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #FFF;
}

.slogan2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  color: #FFF;
}

@media (max-width: 420px) {
  .div-main-container {
    top: 19vh;
    width: 100vw;
    max-height: 18vh;
  }

  .frame-central {
    max-width: 90%;
    height: 11vh;
    top: 6.25rem;
    left: 5.5rem;
    border-radius: 5px;
  }

  .slogan1 {
    font-size: .5rem;
    font-weight: 500;
    text-align: center;
  }
  
  .slogan2 {
    font-size: .3rem;
    font-weight: 400;
    text-align: center;
  }
}

@media (max-width: 768px) {
    .div-main-container {
        top: 12vh;
        width: 104vw;
        max-height: 32vh;
      }

    .div-main-container img {
       width: 100%;
       height: 100%;
       object-fit: cover;

    }

  .frame-central {
    display: none;
  }

}

@media (min-width: 1025px) {
  main {
    width: var(--background-width-1025px);
    height: 142vh;
    background-image: linear-gradient(to top, var(--secondary-background-grad), var(--primary-background-grad));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-main-container {
    align-self: center;
    width: var(--secondary-background-width-1025px);
  }

  .main-img {
    width: 100%;
    align-self: center;
  }

  .frame-central {
    width: 60%;
    height: 30vh;
    top: 15.25rem;
    left: 20%;
  }

}


