/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --primary-menu-color: #c54f0b;
  --primary-color: #c54f0b;
  --secondary-color: #dd6824;

  --primary-background-grad:  #f7c079;
  --secondary-background-grad: #f8e4c9;

  --background-width-1025px: 100vw;
  --secondary-background-width-1025px: 90.1%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.division {
  color: #FFF;
  height: .25rem;
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        overflow-y: auto;
    }
}



